certifi==2019.9.11
cffi==1.13.2
configparser==3.7.4
defusedxml==0.6.0
imutils==0.5.3
matplotlib==3.1.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
olefile==0.46
pandas==0.25.2
pip-chill==0.1.8
pyautogui==0.9.48
pylint==2.4.3
scikit-learn==0.21.3
torchvision==0.4.2
tornado==6.0.3
wincertstore==0.2